[Desktop Entry]
Name=sST
Comment=ST is a simple terminal implementation for X
Exec=st
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;